body {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  width: 100%;
  counter-reset: list;
  background: #eee;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 525px;
  z-index: 10;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

dl {
  height: 40vh;
  max-width: 70vh;
  width: 100%;
  align-self: center;
  box-sizing: border-box;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #fff 80%, transparent);
  box-shadow: -5px 5px 5px 0px rgba(153, 153, 153, 0.05);
  transition: box-shadow 0.3s ease-out;
}

dl:nth-child(even) {
  margin-left: 20px;
}

dl:nth-child(odd) {
  margin-right: 20px;
}

dl:hover {
  box-shadow: 0px 5px 0px 0px rgba(153, 153, 153, 0);
}

dl:hover:before {
  margin-left: 10px;
}

dl:before {
  counter-increment: list;
  content: counter(list);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 60vh;
  color: #eee;
  font-weight: bold;
  margin-left: -35px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translatey(-52%);
  transform: translatey(-52%);
  transition: margin 0.2s ease-out;
}

dt {
  color: burlywood;
  font-size: 3.5vh;
  position: absolute;
  left: 45%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotatez(-90deg);
  transform: translate(-50%, -50%) rotatez(-90deg);
  text-transform: uppercase;
  font-weight: bold;
}

dd {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 45%;
  margin-left: 55%;
  padding: 5px;
  color: #999;
  font-size: 2.3vh;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
